#one{
    width: 100%;
    background-color:red ;
    height: 20px;
margin-top: 0;
}
#mb{margin-bottom: 0;}

div p {margin-bottom: 0;}
#two{
    width: 50%;
    background-color: blue;
    height: 20px;
    float: right;
}    
#three{
    width: 100%;
    background-color:green;
    height: 20px;
}
#four{
    width: 10%;
    background-color: blue;
    height: 20px;
    float: right;
}    
#five{
    width: 100%;
    background-color:green;
    height: 20px;
}
#six{
    width: 100%;
    background-color:green;
    height: 20px;
}
#seven{
    width: 100%;
    background-color:green;
    height: 20px;
}
#eight{
    width: 100%;
    background-color:green;
    height: 20px;
}
#nine{
    width: 100%;
    background-color:green;
    height: 20px;
}
#ten{
    width: 100%;
    background-color:green;
    height: 20px;
}
#eleven{
    width: 100%;
    background-color:green;
    height: 20px;
}
#twelve{
    width: 100%;
    background-color:green;
    height: 20px;
}
#thirteen{
    width: 100%;
    background-color:green;
    height: 20px;
}
#three{
    width: 100%;
    background-color:green;
    height: 20px;
}



#_1{
    width: 100%;
    background-color:red ;
    height: 20px;
margin-top: 0;
}
#mb{margin-bottom: 0;}

div p {margin-bottom: 0;}
#_2{
    width: 50%;
    background-color: blue;
    height: 20px;
    float: right;
}    
#_3{
    width: 100%;
    background-color:green;
    height: 20px;
}
#_4{
    width: 3%;
    background-color: blue;
    height: 20px;
    float: right;
}    
#_5{
    width: 100%;
    background-color:green;
    height: 20px;
}
#_6{
    width: 3%;
    background-color:red;
    height: 20px;
    float: left;
}
#_7{
    width: 3%;
    background-color:blue;
    height: 20px;
    float: right;
}
#_8{
    width: 100%;
    background-color:red;
    height: 20px;
}
#_9{
    width: 3%;
    background-color:blue;
    height: 20px;
    float: right;
}
#_10{
    width: 100%;
    background-color:green;
    height: 20px;
    text-align: center;
    padding: 5 0;
box-sizing: border-box;
}
#_11{
    width: 2%;
    background-color:red;
    height: 10px;
    margin: 0 auto ;
box-sizing: border-box;
}
#_12{
    width: 100%;
    background-color:red;
    height: 20px;}
#_13{
    height: 20px;
background-color: blue;
width: 5%;
margin: 0 auto    
}

#_14{
    width: 100%;
    background-color:blue;
    height: 20px;
    margin: 0 ;
    box-sizing: border-box;
    
}
#_15{
    width: 4%;
    background-color:red;
    height: 20px;
    float: left;

}
#_16{
    width: 96%;
    background-color:green;
    height: 5px;
    float: right;
position: relative;
top: 7
}
#_17{
    width: 4%;
    background-color:red;
    height: 20px;
    float: left;

}
#_17{
    width: 100%;
    background-color:green;
    height: 10px;
}
#_18{
    width: 4%;
    background-color:yellow;
    height: 20px;
    float: left;}
    #_19{
        width: 4%;
        background-color:yellow;
        height: 20px;
        float: left;}
        #_18{
            width: 4%;
            background-color:yellow;
            height: 20px;
            float: left;
